

<%if session[:outcome] == "next"%>
    <%try = session[:board].appboard%>
    <%try.each do |a|%>
        <%=a%><br>
    <%end%>
    <br>
    <br>
    <%open = []%>
    <%session[:board].gboard.each do |a|%>
        <%if a == "o"%>
        <%elsif a == "x"%>
        <%else%>
            <%open << a%>
        <%end%>
    <%end%>
    <br>
    <form method="post" action="playervsai">
    <%open.each do |b|%>
        <input type="radio" name="pick" value="<%=b%>" checked="checked"%><%=b%> 
    <%end%>
    <br>
    <input type="submit" name="submit" value="make move" id="button">
    </form> 
<%elsif session[:outcome] == "WINNER"%>
        WINNER<br>
    <%try = session[:board].appboard%>
    <%try.each do |a|%>
        <%=a%><br>
    <%end%>
    <br>
    <br>
    <br>
    <br>
    Start over?<br>
    <form mothod="post" action="playagian">
    <input type="submit" name="" value="start over" id="button">
    </form>
    <%elsif session[:outcome] == "TIE"%>
        TIE<br>
    <%try = session[:board].appboard%>
    <%try.each do |a|%>
        <%=a%><br>
    <%end%>
    <br>
    <br>
    <br>
    <br>
    Start over?<br>
    <form mothod="post" action="playagian">
    <input type="submit" name="" value="start over" id="button">
    </form>
<%end%>